<textarea class="materialize-textarea text-edittext">{{text}}</textarea>
<div class="card-action edittext">
  <a href="#" class="right save-edittext">Save</a>
  <a href="#" class="right cancel-edittext">Cancel</a> 
</div>