<textarea class="materialize-textarea text-edittext">{{text}}</textarea>
<div class="card-action edittext">
  <a href="javascript:void(0);" class="right save-edittext">Save</a>
  <a href="javascript:void(0);" class="right cancel-edittext">Cancel</a> 
</div>