<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>lang2am web</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
<style type="text/css">
html {
    font-family: Arial, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体,
        SimSun, STXihei, "华文细黑", "맑은 고딕", "Malgun Gothic", "돋움", "Dotum",
        sans-serif;
}

.locale-english {
    background: url('image/us-flag-icon-32.png') no-repeat 0px 6px;
}

.locale-korean {
    background: url('image/kr-flag-icon-32.png') no-repeat 0px 6px;
}

.locale-chinese {
    background: url('image/cn-flag-icon-32.png') no-repeat 0px 6px;
}
</style>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <form style="margin-left: 25%; width: 50%; display:inline-block;">
                <div class="input-field">
                    <input id="search" type="search" required> <label for="search"><i class="material-icons">search</i></label> <i class="material-icons">close</i>
                </div>
            </form> 
            <ul id="" class="right hide-on-med-and-down">
                <li><a href="#" id="btnNewcode">New Code</a></li>
              </ul>
        </div>
    </nav>
    <div class="row" id="rowNewcode" style="display:none;">
        <div class="col s2">&nbsp;
        </div>
        <div class="col s8">
          <div class="card">
            <div class="card-content">
              <span class="card-title">New Code</span>
            <div class="input-field">
                <input id="code" type="text" placeholder="Leave blank to get a new code.">
                <label for="code">Code</label>
            </div>
            <div class="input-field">
                <input id="en" type="text" placeholder="Required.">
                <label for="en">English</label>
            </div>
            <div class="input-field">
                <input id="ko" type="text" placeholder="Leave blank to use English.">
                <label for="ko">Korean</label>
            </div>
            <div class="input-field">
                <input id="zh" type="text" placeholder="Leave blank to use English.">
                <label for="zh">Chinese</label>
            </div>
            </div>
            <div class="card-action">
              <a href="#" id="btnCancelNewcode">Cancel</a>
              <a href="#" id="btnSaveNewcode" class="right">Save</a>
            </div>
          </div>
        </div>
        <div class="col s2">&nbsp;
        </div>
    </div>
    <div class="row">
        <div id="column1" class="col s4">
        </div>
        <div id="column2"  class="col s4">
        </div>
        <div id="column3"  class="col s4">
        </div>
    </div>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">© 2016 Copyright</div>
        </div>
    </footer>
    <script src="js/underscore-min.js"></script>
    <script src="js/jquery-2.2.2.min.js"></script>
    <script src="js/handlebars-v4.0.5.js"></script>
    <script src="materialize/js/materialize.min.js"></script>
    <script src="card.js"></script>
</body>
</html>