<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>lang2am web</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="materialize/css/materialize.min.css" rel="stylesheet">
<style type="text/css">
html {
	font-family: Arial, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体,
		SimSun, STXihei, "华文细黑", "맑은 고딕", "Malgun Gothic", "돋움", "Dotum",
		sans-serif;
}
.source-code {
    font-family: D2Coding, "나눔고딕코딩", "Lucida Console", Consolas, Monaco, monospace;
}
nav .brand-logo {
    margin-left: 10px;
}
#search_box {
    margin-top: 0;
    width: 45%;
    display: inline-block;
}
#search_box .material-icons.search {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#results-count {
    font-size: 16px;
}
.refresh {
    cursor: pointer;
}
#newcode_table th, #newcode_table td{
    padding: 5px;
}
#newcode_table input[type=text]{
    height: 2rem;
    margin: 0 0 0 0;
}
.underline {
	text-decoration: underline;
}
#texts_table td {
    padding-right: 35px;
}
#texts_table .only-hover {
    font-size: 20px;
    margin-left: 0;
    margin-right: -25px;
    display: none;
}
#texts_table tr:hover .only-hover {
    display: inherit;
    cursor: pointer;
}
.card-action.edittext {
    padding: 0;
    border-top: none;
}
textarea.text-edittext {
    padding: 10px;
    white-space: pre;
}
.no-data {
    padding: 100px 0;
}
</style>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo">Lang2am - Web</a>
      <ul class="right">
        <li><a class="btn tooltipped" id="btnNewcode" data-position="bottom" data-delay="50" data-tooltip="Ctrl+Alt+O">+ new code</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <div class="row" id="newcode_card" style="display: none;">
      <div class="col s8">
        <div class="card">
          <div class="card-content">
            <span class="card-title tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ctrl+Alt+O">New Code</span>
            <table id="newcode_table">
              <colgroup>
                <col width="70px" >
                <col width="">
              </colgroup>
              <tbody>
                <tr>
                  <th>Code</th>
                  <td><input id="code" type="text" placeholder="Leave blank to get a new code." maxlength="2000"></td>
                </tr>
                <tr>
                  <th>English</th>
                  <td><input id="en" type="text" placeholder="Required." required></td>
                </tr>
                <tr>
                  <th>Korean</th>
                  <td><input id="ko" type="text" placeholder="Leave blank to use English." maxlength="2000"></td>
                </tr>
                <tr>
                  <th>Chinese</th>
                  <td><input id="zh" type="text" placeholder="Leave blank to use English." maxlength="2000"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-action">
            <a href="javascript:void(0);" id="btnSaveNewcode" class="right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ctrl+Alt+S">Save</a>
            <a href="javascript:void(0);" id="btnCancelNewcode" class="right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ctrl+Alt+C">Cancel</a>
          </div>
        </div>
      </div>
      <div class="col s4">
      <div class="card">
        <div class="card-content">
            <span class="card-title">Screenshot</span>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card hoverable">
          <div class="card-content">
            <div class="card-title">

              <div class="input-field" id="search_box" >
                <input id="search" type="text" placeholder="Search" size="50" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ctrl+Alt+F">
                <i class="material-icons search small">search</i>
              </div>

              <div class="right">
                <div class="valign-wrapper">
                  <div class="valign right-align" id="results-count"></div>
                  <i class="material-icons refresh right small tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ctrl+Alt+R">refresh</i>
              </div>
              </div>
            </div>
            <table class="bordered highlight" >
              <colgroup>
                <col width="150px" >
                <col width="100px">
                <col width="25%">
                <col width="25%">
                <col width="25%">
              </colgroup>
              <thead>
                <tr>
                  <th data-field="code">Code</th>
                  <th data-field="referencedCount">Reference</th>
                  <th data-field="textEn">English</th>
                  <th data-field="textKo">Korean</th>
                  <th data-field="textZh">Chinese</th>
                </tr>
              </thead>
              <tbody id="texts_table">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="js/underscore-min.js"></script>
  <script src="js/jquery-2.2.2.min.js"></script>
  <script src="js/jquery.paste_image_reader.js"></script>
  <script src="js/handlebars-v4.0.5.js"></script>
  <script src="materialize/js/materialize.min.js"></script>
  <script src="js/shortcut.js"></script>
  <script src="main.js"></script>
</body>
</html>